<li class="friend">
    <div class="friend__left">
        <div class="friend__img">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <h4 class="friend__name">{{name}}</h4>
    </div>
    <button class="friend__delete"></button>
</li>
