<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="./src/main.css">

    <!--vk api-->
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
    <!--vk api end-->

    <!--yandex map api-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!--yandex map api end-->

</head>
<body>

<div class="wrapper">

    <div id="map">
        <div class="addReview" id="addReview">
            <header class="header">
                <p class="address" id="address">Невский пр., 78, Санкт-Петербург, 191025</p>
                <button class="close" id="close"></button>
            </header>
            <ul class="list" id="list">
                <!--<li class="review-item">-->
                    <!--<div class="review-top">-->
                        <!--<h4 class="review-name">svetlana</h4>-->
                        <!--<span class="review-place">Шоколадница</span>-->
                        <!--<span class="review-date">13.12.2015</span>-->
                    <!--</div>-->
                    <!--<p class="review-text">Очень хорошее место!</p>-->
                <!--</li>-->
                <!--<li class="review-item">-->
                    <!--<div class="review-top">-->
                        <!--<h4 class="review-name">Сергей Мелюков</h4>-->
                        <!--<span class="review-place">Красный куб</span>-->
                        <!--<span class="review-date">12.12.2015</span>-->
                    <!--</div>-->
                    <!--<p class="review-text">Ужасное место! Кругом зомби!!!!</p>-->
                <!--</li>-->
            </ul>
            <form class="form">
                <h3 class="form-title">ВАШ ОТЗЫВ</h3>
                <input type="text" id="form-name" class="form-name" placeholder="Ваше имя" value="Шамиль">
                <input type="text" id="form-place-name" class="form-place-name" placeholder="Укажите место"
                       value="Супер крутое место">
                <textarea id="form-text" class="form-text" placeholder="Поделитесь впечатлениями">Мой великолепный комментарий об этом месте :-)</textarea>
            </form>
            <div class="add-btn-group">
                <button class="add-btn" id="add-btn">Добавить</button>
            </div>
        </div>
        <div class="logo"></div>
    </div>

</div>

</body>
</html>
